/*
 =========
 temporary styles
 =========
*/

.border-bottom {
    border-bottom: 1px solid var(--COLOUR-GREY-ONE);
}

.p-b-1 {
    padding-bottom: 1rem;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-y-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.ui-table {
    margin: 1rem 0;
}

.article-sidebar {
    font-family: Lato, sans-serif;
    font-size: 16px;
    grid-column: 10 / 12;
}

.article-sidebar .list .item {
    padding: .5rem 0;
}

.article-sidebar .list .item:first-child {
    margin-top: 1rem;
}

.article-table {
    margin: 3rem 0;
}

.article-table .table {
    margin: 2rem 0;
}

.main-content {
    font-family: Lato, sans-serif;
}

[role="doc-abstract"] {
    font-family: "Noto Serif", serif;
    font-size: var(--BASE-FONT-REM);
    margin-top: 0;
    margin-bottom: var(--THREE-INCREMENTS);
    line-height: 1.5;
    font-weight: 400;
}

/* Style for additional files */
dd {
    margin-left: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
}

dd+dt {
    margin-top: 1.5rem;
}

dt h6 {
    margin: 0;
    font-weight: bold;
}

/* Style for author details */
.authors-details__authors section {
    margin-bottom: var(--THREE-INCREMENTS);
}
.authors-details__authors h4 {
    font-weight: bold;
}

.authors-details__authors > li:after {
    content: '';
}

.author-details__heading {
    margin: 0;
    font-weight: bold;
    display: inline;
    padding: 0;
}

/* Style for publication history */
.publication-details__history {
    padding-left: 17px;
}

.captioned-image {
    outline: 1px solid #e0e0e0;
    padding: .75rem;
    display: block;
    width: 100%
}

.captioned-asset {
    clear: none;
    margin: 0 0 1.5rem 0;
    position: relative;
}

.figcaptioned-asset h6 {
    font-size: 0.85rem;
    margin-top: .75rem;
    font-weight: bold;
}
.captioned-asset__picture {
    display: block;
    width: 100%;
}

.download-icon {
    border-radius: 3px;
    display: inline-block;
    height: 1.75rem;
    width: 1.75rem;
    border: 1px solid #e0e0e0;
}

.view-icon {
    border-radius: 3px;
    display: inline-block;
    height: 1.75rem;
    width: 1.75rem;
    border: 1px solid #e0e0e0;
}

.asset-viewer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.asset-links-container {
    position: absolute;
    top: -35px;
    right: 0;
}

.asset-links-container a {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: inline-block;
    height: 1.75rem;
    margin-top: -.125rem;
    margin-left: -1px;
    margin-bottom: -.125rem;
    width: 1.75rem;
    border: 1px solid #e0e0e0;
}

.asset-links-container .download-icon {
    background: url(/img/download.png) 50% 50% no-repeat;
    background: url(/img/download.svg) 50% 50% no-repeat,linear-gradient(transparent, transparent);
}

.asset-links-container .view-icon {
    background: url(/img/launch.png) 50% 50% no-repeat;
    background: url(/img/launch.svg) 50% 50% no-repeat,linear-gradient(transparent, transparent);
}

.asset-links-container .download-icon:hover {
    background: url(/img/download-hover.png) 50% 50% no-repeat;
    background: url(/img/download-hover.svg) 50% 50% no-repeat,linear-gradient(transparent, transparent);
}

.asset-links-container .view-icon:hover {
    background: url(/img/launch-hover.png) 50% 50% no-repeat;
    background: url(/img/launch-hover.svg) 50% 50% no-repeat,linear-gradient(transparent, transparent);
}

.asset-viewer-inline-text {
    align-self: center;
    display: inline-block;
    margin-bottom: 10;
    padding-bottom: 0;
    line-height: 1.84615
}

.asset-viewer-inline-text-prominent {
    font-weight: bold;
}

.additional-assets-list {
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.caption-text-heading {
    font-size: .8125rem;
    line-height: 1.84615;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


/* Style for reference */
.reference-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: .75rem;
}

.reference-list__item {
    margin-bottom: .75rem;
    padding: 0rem 0rem 0rem 3rem;
    line-height: 1;
    position: relative;
}

.reference-list__ordinal_number {
    font-weight: bold;
    line-height: 1.5;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.625rem;
}

.reference-list .article-author-list li:nth-last-child(2):after {
    content: '';
}

.reference p {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
}

.content-header__institution_list {
    font-family: Lato, sans-serif;
    padding-left: 0;
    display: block;
}

.content-header__institution_list_item {
    display: inline;
    font-size: 14px;
}

.content-header__institution_list > li {
    line-height: 1.5;
}

.content-header__institution_list > li:after {
    content: '; \00a0';
}

.content-header__institution_list > li:last-child:after {
    display: none;
}

.copyright {
    font-family: Lato, sans-serif;
}
