/*
 =========
 temporary styles
 =========
*/

.border-bottom {
    border-bottom: 1px solid var(--COLOUR-GREY-ONE);
}

.p-b-1 {
    padding-bottom: 1rem;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-y-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.ui-table {
    margin: 1rem 0;
}

.article-sidebar {
    font-family: Lato, sans-serif;
    font-size: 16px;
    grid-column: 10 / 12;
}

.article-sidebar .list .item {
    padding: .5rem 0;
}

.article-sidebar .list .item:first-child {
    margin-top: 1rem;
}

.article-table {
    margin: 3rem 0;
}

.article-table .table {
    margin: 2rem 0;
}

.main-content {
    font-family: Lato, sans-serif;
}

/* Style for additional files */
dd {
    margin-left: 0;
}

dd+dt {
    margin-top: 1.5rem;
}

dt h6 {
    margin: 0;
    font-weight: bold;
}

/* Style for author details */
.authors-details__authors section {
    margin-bottom: var(--THREE-INCREMENTS);
}
.authors-details__authors h4 {
    font-weight: bold;
}

.authors-details__authors > li:after {
    content: '';
}

.author-details__heading {
    margin: 0;
    font-weight: bold;
    display: inline;
    padding: 0;
}

/* Style for publication history */
.publication-details__history {
    padding-left: 17px;
}
